<!-- Create a new user form-->

<div class="createAddress">
    <form name="createForm" novalidate>
        <input type="text"
               placeholder="First name *"
               name="firstName"
               ng-pattern="/^[a-z]+$/i"
               ng-model="contact.firstName"
               ng-maxlength=30
               ng-click="contact.firstName = null" required/>
        <div class="errorContainer" ng-show="createForm.firstName.$dirty">
            <small class="error" ng-show="createForm.firstName.$error.required">Required field!</small>
            <small class="error" ng-show="createForm.firstName.$error.maxlength">
                First name cannot be longer than 30 characters</small>
            <small class="error" ng-show="createForm.firstName.$error.pattern">
                Field isn't valid</small>
        </div>
        <input type="text"
               placeholder="Last name *"
               name="lastName"
               ng-pattern="/^[a-z]+$/i"
               ng-model="contact.lastName"
               ng-maxlength=30
               ng-click="contact.lastName = null"
               required />
        <div class="errorContainer" ng-show="createForm.lastName.$dirty">
            <small class="error" ng-show="createForm.lastName.$error.required">Required field!</small>
            <small class="error" ng-show="createForm.lastName.$error.maxlength">
                Last name cannot be longer than 30 characters</small>
            <small class="error" ng-show="createForm.lastName.$error.pattern">
                Field isn't valid</small>
        </div>
        <input type="email"
               placeholder="Email *"
               name="emailField"
               ng-model="contact.email"
               ng-maxlength=30
               ng-click="contact.email = null"
               required />
        <div class="errorContainer" ng-show="createForm.emailField.$dirty">
            <small class="error" ng-show="createForm.emailField.$error.maxlength">
                Email cannot be longer than 50 characters</small>
            <small class="error" ng-show="createForm.emailField.$error.required">
                Required field!</small>
            <small class="error" ng-show="createForm.emailField.$error.email">
                Email isn't valid</small>
        </div>
        <input type="text"
               placeholder="Address"
               name="address"
               ng-model="contact.address"
               ng-click="contact.address = null"
               ng-maxlength=50 />
        <div class="errorContainer" ng-show="createForm.address.$dirty">
            <small class="error" ng-show="createForm.address.$error.maxlength">
                Address cannot be longer than 50 characters</small>
        </div>
        <input type="text"
               placeholder="City"
               name="cityField"
               ng-model="contact.city"
               ng-maxlength=20
               ng-click="contact.city = null"
               ng-pattern="/^[a-z]+$/i" />
        <div class="errorContainer" ng-show="createForm.cityField.$dirty">
            <small class="error" ng-show="createForm.cityField.$error.pattern">Field isn't valid</small>
        </div>
        <input type="text"
               placeholder="Zip-code"
               name="zipCodeField"
               ng-model="contact.zipcode"
               ng-pattern="/^\d{5}$/"
               ng-click="contact.zipcode = null"
               ng-maxlength=5 />
        <div class="errorContainer" ng-show="createForm.zipCodeField.$dirty">
            <small class="error" ng-show="createForm.zipCodeField.$error.pattern">Field isn't valid, required length is 5 </small>
        </div>
        <input type="text"
               placeholder="Country"
               name="countryField"
               ng-model="contact.country"
               ng-pattern="/^[a-z]+$/i"
               ng-click="contact.country = null"
               ng-maxlength=20 />
        <div class="errorContainer" ng-show="createForm.countryField.$dirty">
            <small class="error" ng-show="createForm.countryField.$error.pattern">Field isn't valid</small>
            <small class="error" ng-show="createForm.countryField.$error.maxlength">
                Country cannot be longer than 20 characters</small>
        </div>
        <input class="buttons" ng-disabled="createForm.$invalid" ng-click="createContact(createForm)" type="button" value="Create"  />
    </form>

</div>